<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password
    </title>
    <script>  
        function verifyPassword() {  
          var pw = document.getElementById("password").value;  
          var pw2 = document.getElementById("cpassword"); 
        
          if(pw == "") {  
             document.getElementById("message").innerHTML = "**Fill the password please!";  
             return false;  
          }  

          
           
         
          if(pw.length < 8) {  
             document.getElementById("message").innerHTML = "**Password length must be atleast 8 characters";  
             return false;  
          }  
         
          
       
          if(pw.length > 15) {  
             document.getElementById("message").innerHTML = "**Password length must not exceed 15 characters";  
             return false;  
          } 
          if (!pw.match((/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{2,4}$/))) {
                document.getElementById("message").innerHTML = "**Password must be contained atleaast one Captial,small character and special symbol and atleast a numeric value";  
                return false; 
            }
          if(pw != pw2)  
        {   
            document.getElementById("message").innerHTML = "**Password did not match";  
             return false;  
        } else {  
            alert("Password created successfully");  
        }  
        }  

       
        function matchPassword() {  
        var pw1 = document.getElementById("password");  
         
       
        }  
        </script> 
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/resetPassword" method="post" onsubmit ="return verifyPassword()">
        <input type="hidden" value="<%= token %>" name="token">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value = "">
        <span id = "message" style="color:red"> </span> <br><br>  
        <label for="cpassword">Confirm Password</label>
        <input type="cpassword" name="cpassword" id="cpassword">
        <input type="submit" value="send"onclick="matchPassword()">
    </form>
</body>
</html>










  
